* {
    padding: 0;
    margin: 0;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  body {
    background-size: 400% 400%;
    background-image: linear-gradient(-45deg,  #a14c31,#94234e,#186a88,#26750e);
    animation: gradient 10s ease infinite;
    height:100vh;
  }
  
  
  header  {
    padding:20px;
    background: #383837;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    font-weight: 200;
    position: fixed;
    z-index: 1;
    top:0;
    width: 100%;
    overflow: hidden;
  }

  header a {
    appearance: none;
    outline: 0;
    background-color: #383837;
    border: 0;
    padding: 10px 15px;
    color:white ;
    border-radius: 3px;
    width: 150px;
    font-size: 35px;
    margin:0px 20px;
    text-decoration: none;
    
  }

  header a:hover {
    
    color:#26750e;
    font-family: 'Press Start 2P', cursive;
    transition: .5s ease;

  
  }

  
 .text-div span:hover{
  font-size: 60px;
   font-family: 'Press Start 2P', cursive;
   color:#26750e;
   
 }

 .spacer{
  margin:100px;
  background: none;
  height: 200px;
 }

  .footer {
    flex-direction: row;
    padding:20px;
    background: #383837;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    font-weight: 200;
    width: 100%;
    overflow: hidden;
    position: fixed;
    bottom: 0;
  }
  .front-page{
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    padding: 80px 100px;
  }

 
 
  .project-card {
    border: white solid 5px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    margin: 150px 100px;
    box-shadow: 2px 2px 5px rgb(90, 89, 89);
    text-align: center;
    overflow: auto;
    height: fit-content;
    min-height: 250px;
    font-size: 25px;
  }
  .text-div{
    margin: 100px 100px;
  }
  .text-div p{
    color:white;
    margin: 10px;
  }

  .text-div span{
    color: white;
   font-size: 80px;
   position: relative;
   top: 20px;
   left: 15px;
    margin: 30px 10px;
    font-family:"Great Vibes", cursive;
    transition: .5s ease-in-out;
    padding: 15px;
  }

  .project-card:hover .overlay{
    opacity: .9;
    transition: .5s ease-out;
  }
  .project-card:hover .bottom{
    opacity: 1;
  }

  .abt-me-head{
    border-radius: 15px;
  }

  .abt-me-desc {
    color:white;
    padding:2%;
  }

  .overlay{
    opacity:0;
    background-color:#4b4b49 ;
    padding: 10%;
  }
  .card h2 {
   font-size: 2rem;
    color:white;
    
  }


  .bottom {
    text-align: center;
    background-color: #383837;
    color:white;
    height: fit-content;
    padding: 15px;
    margin: 20px 20px 50px 20px;
    border-radius: 10px;
    opacity: 1;
  }


.deploy-link{
  background:green;
  padding: 2%;
  font-size: 15px;
  font-weight: bolder;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  margin:15px;
}

.deploy-link:hover{
  opacity: .5;
}



.github-link:hover{
  opacity: .5;
}

.links{
  margin:15px 30px;
}

.links:hover{
  opacity: .4;
}
.links img{
  width: 70px;
  height:70px;
}
.github-link{
  font-weight: bolder;
  text-decoration: none;
  border-radius: 5px;
  margin:15px;
  position: relative;
  top:20px;
  padding: 10px;
 
}
.resume h3{
  margin: 10px;
  padding: 5px 100px;
 
 
  
}
.head-info{
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  border-bottom: lightblue solid 8px;
}

.car-title,.resume-projects-title, .skills-title {
  border-bottom:lightblue solid 3px;
}
.car-obj{
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
}

.resume-projects{
  margin: 20px 10px;
  width: fit-content;
}
label{
  margin: 50px;
  font-size: 20px;
}
.resume h5{
  border-bottom:lightblue solid 5px;
  width: fit-content;
}
.resume-container{
  margin: 150px 100px;
  margin-bottom: 20%;
  background: white;
  border-radius: 5px;
  padding: 100px;
  
}
.proj-title{
    margin-left: 50px;
    background: lightblue;
}
.resume ul{
  margin: 20px;
  padding:10px;
  font-weight: bold;
  
}
.pers-list{
  margin: 5px;
  
}
.pers-skills-box{

width: fit-content;
display:inline-block;
margin: 15px;
position: relative;
bottom: 105px;
}

.tech-skills-box{
 
 width: fit-content;
 display: inline-block;
 margin: 15px;
}

.resume-project-box{
  border-bottom: black solid 2px;  
}

.skills-box h3{
  text-align: center;
}

.skills-box{
  padding: 15px;
  text-align: center;

}

.skill-wrapper{

}


@media screen and ( max-width:400px) { 

.car-obj{
    width: fit-content;
}
}